header {
  background-color: rgb(107, 23, 23);
}

h1 {
  color: green;
}

h1 {
  color: rgb(63, 15, 220);
}

h2 {
  color: rgb(216, 16, 16);
}

h3 {
  color: rgb(15, 233, 106);
}

body {
  font-size: 20px;
}
body div {
  font: size 10px;
}